:root {
  --sweep-delay: 500ms;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: gray;
}
.main-container .top-container {
  display: flex;
  justify-content: center;
  height: 50%;
  padding: 2em;
}
.main-container .console-log {
  width: 50%;
  max-width: 50%;
  height: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column-reverse;
}
.main-container .console-log pre {
  display: inline;
}
.main-container .text-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 50%;
  max-width: 50%;
}
.main-container .text-container #stop-button {
  background-color: orange;
  padding: 2em;
  text-align: center;
  border: 0.5em solid black;
  cursor: pointer;
}
.main-container .text-container #stop-button[run_loop=true] {
  background-color: green;
}
.main-container .text-container #stop-button[run_loop=true] h1::before {
  content: "Running (Click to stop)";
}
.main-container .text-container #stop-button[run_loop=false] {
  background-color: red;
}
.main-container .text-container #stop-button[run_loop=false] h1::before {
  content: "Stopped (Click to start)";
}
.main-container .dashboard-container {
  width: 100%;
  height: 50%;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.main-container .dashboard-container .gauge_container {
  flex: 1;
  height: 100%;
}
.main-container .dashboard-container .gauge_container.gauge {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
.main-container .dashboard-container .gauge_container.gauge .gauge-and-needle {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
}
.main-container .dashboard-container .gauge_container.gauge .gauge-and-needle > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  top: 0;
  left: 0;
}
.main-container .dashboard-container .gauge_container.gauge .gauge-and-needle > img.base {
  position: relative;
}
.main-container .dashboard-container .gauge_container.gauge .gauge-and-needle > img.needle {
  position: absolute;
  transition: transform 0.15s ease-in-out;
  transform: rotate(180deg);
}
.main-container .dashboard-container .gauge_container.gauge .gauge-and-needle > img.needle.sweep-1 {
  transition: transform 0s;
}
.main-container .dashboard-container .gauge_container.gauge .gauge-and-needle > img.needle.sweep-2 {
  transition: transform var(--sweep-delay) ease-in-out;
}
.main-container .dashboard-container .gauge_container.gauge .gauge-and-needle > img.needle[enabled=no] {
  transition: transform 0s;
  transform: rotate(180deg) !important;
}
.main-container .dashboard-container .gauge_container.gauge .gauge-and-needle > h1 {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.75);
}
.main-container .dashboard-container .gauge_container.number {
  width: 100%;
}
.main-container .dashboard-container .number_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  order: -1;
  overflow-y: scroll;
}
.main-container .dashboard-container .number_container table {
  width: 100%;
  height: 100%;
}
.main-container .dashboard-container .number_container table tr:nth-child(even) {
  background: #CCC;
}
.main-container .dashboard-container .number_container table tr:nth-child(odd) {
  background: #FFF;
}
.main-container .dashboard-container .number_container table td {
  padding: 1em;
}
.main-container .dashboard-container .number_container table td:last-child {
  text-align: center;
  width: 50%;
}/*# sourceMappingURL=style.css.map */