:root{
    --sweep-delay: 500ms;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    // padding: 2em;
    background-color: gray;

    .top-container{
        display: flex;
        justify-content: center;
        height: 50%;
        padding: 2em;
    }

    .console-log{
        width: 50%;
        max-width: 50%;
        height: 100%;
        overflow: scroll;
        display: flex;
        flex-direction: column-reverse;

        pre{
            display: inline;
        }
    }

    .text-container{
        display: flex;
        flex-direction: column;
        gap: 1em;
        width: 50%;
        max-width: 50%;

        #stop-button{
            background-color: orange;
            padding: 2em;
            text-align: center;
            border: 0.5em solid black;
            cursor: pointer;

            &[run_loop="true"]{
                background-color: green;
                h1::before{
                    content: "Running (Click to stop)";
                }
            }
            &[run_loop="false"]{
                background-color: red;
                h1::before{
                    content: "Stopped (Click to start)";
                }
            }
        }
    }

    .dashboard-container{
        width: 100%;
        height: 50%;
        padding: 1em;

        display: flex;
        align-items: center;
        justify-content: space-around;

        .gauge_container{
            flex: 1;
            height: 100%;

            &.gauge{
                // width: 30%;
                // height: 30%;

                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1em;

                .gauge-and-needle{
                    position: relative;
                    top: 0;
                    left: 0;
                    height: 100%;

                    // border-radius: 50% 50% 0% 0%;
                    // background-color: white;

                    > img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        top: 0;
                        left: 0;
                
                        &.base{
                            position: relative;
                        }
                        &.needle{
                            position: absolute;
                            transition: transform 0.15s ease-in-out;
                            transform: rotate(180deg);
                
                            &.sweep-1{
                                transition: transform 0s;
                            }
                            &.sweep-2{
                                transition: transform var(--sweep-delay) ease-in-out;
                            }
                            &[enabled="no"]{
                                transition: transform 0s;
                                transform: rotate(180deg) !important;
                            }
                        }
                    }

                    > h1{
                        width: 100%;
                        position: absolute;
                        bottom: 0;
                        text-align: center;
                        background-color: rgb(255 255 255 / 75%);
                    }
                }
            }

            &.number{
                width: 100%;
            }
        }
        .number_container{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            order: -1;
            overflow-y: scroll;
            
            table{
                width: 100%;
                height: 100%;

                tr:nth-child(even){
                    background: #CCC
                }
                tr:nth-child(odd){
                    background: #FFF
                }
                td{
                    padding: 1em;

                    &:last-child {
                        text-align: center;
                        width: 50%;
                    }
                }
            }
        }
    }

    &[mobile="true"]{
        .top-container{
            display: none;
        }
        .dashboard-container{
            height: 100%;
            display: grid;
        }
    }
}