// @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root{
    --sweep-delay: 500ms;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: 'Press Start 2P', cursive;
}

.main-container{
    width: 100vw;
    height: 100vh;
    background-color: gray;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .text-container{
        display: flex;
        flex-direction: column;
        gap: 1em;

        #stop-button{
            background-color: orange;
            padding: 2em;
            text-align: center;
            border: 0.5em solid black;
            cursor: pointer;

            &[run_loop="true"]{
                background-color: green;
                h1::before{
                    content: "Running (Click to stop)";
                }
            }
            &[run_loop="false"]{
                background-color: red;
                h1::before{
                    content: "Stopped (Click to start)";
                }
            }
        }
    }

    .dashboard-container{
        width: 100%;
        padding: 1em;

        display: flex;
        align-items: center;
        justify-content: space-around;



        .gauge_container{
            flex: 1;

            &.gauge{
                width: 30%;
                // height: 30%;

                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1em;

                .gauge-and-needle{
                    position: relative;
                    top: 0;
                    left: 0;

                    > img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        top: 0;
                        left: 0;
                
                        &.base{
                            position: relative;
                        }
                        &.needle{
                            position: absolute;
                            transition: transform 0.15s ease-in-out;
                            transform: rotate(180deg);
                
                            &.sweep-1{
                                transition: transform 0s;
                            }
                            &.sweep-2{
                                transition: transform var(--sweep-delay) ease-in-out;
                            }
                            &[enabled="no"]{
                                transition: transform 0s;
                                transform: rotate(180deg) !important;
                            }
                        }
                    }
                }
            }

            &.number{
                width: 100%;
            }
        }
        .number_container{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            order: -1;
        }
    }
}