<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
        <link rel="stylesheet" href="static/css/style.css">
        <script src="static/js/jquery-3.6.1.min.js"></script>
        <script src="static/js/scripts.js"></script>
    </head>
    <body>
        <div class="main-container">
            <div class="text-container">
                <h1>
                    <span>SERVER STATUS : </span>
                    <span id="server_status">0</span>
                </h1>
                <h1>
                    <span>OBD STATUS : </span>
                    <span id="obd_status">0</span>
                </h1>
                <div id="stop-button">
                    <h1>STOP</h1>
                </div>
            </div>
            <div class="dashboard-container"></div>
        </div>
    </body>
</html>